<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oomkik.client.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    The app uses the permission to be notified when the device finish booting
    to run the app.
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.oomkik.client.android.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.oomkik.client.android.SelectFrameActivity">

        </activity>

        <!--
        Wire BOOT_COMPLETED even to BootReceiver which runs the app.
        -->
        <receiver android:name=".BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ShutdownReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.oomkik.client.android.ShutdownReceiver.ACTION_SHUTDOWN" >
                </action>
            </intent-filter>
        </receiver>

    </application>

</manifest>